body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../core/Images/background.avif');
    background-position: center;
    background-size: cover;
}