.resumeLink{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 150px;
    align-items: center;
    box-shadow: rgba(0, 0, 255, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 12px;
}
.resumeLink:hover{
opacity: 0.8;
}
.resumes_container{
    margin-top: 30px;
}